.notifications{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.notification{
  padding: 0 10px;
  height: 0;
  position: relative;
  transition: height ease .2s;
  overflow: hidden;
}

.notification.show{
	height: 40px;
}

.notification.error{
  background: #D32F2F;
}

.notification.warning{
  background: #FFC107;
}

.notification.information{
  background: #0288D1;
}

.notification.success{
  background: #4CAF50;
}

.notifications [class*="icon-"] svg {
	fill: #fff;
	height: 25px;
	width: 25px;
	position: relative;
	top: 7px;
}

.notifications [class*="icon-"]:not(.icon-dismiss) {
	float: left;
}

.icon-dismiss {
	float: right;
}

.notification .progress{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: .2;
  width: 0%;
}

.notification .message{
	display: inline-block;
	color: #fff;
	position: relative;
	z-index: 5;
	display: inline-block;
	line-height: 40px;
	height: 100%;
	vertical-align: middle;
	font-size: 1.2rem;
	padding-left: 10px;
}

.notification .dismiss, .notification .icon {
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	cursor: pointer;
}

.notification .icon{
	right: auto;
	left: 10px;
}

.notification.counting .progress{
  width: 100%;
  transition: width linear 5s;
}

.notification:hover .progress{
  width: 0%;
  transition: none!important;
}
