.notifications{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.notification{
  padding: 0 10px;
  height: 0;
  position: relative;
  transition: height ease .2s;
  overflow: hidden;
}

.notification.show{
	height: 40px;
}

.notification.error{
  background: #D32F2F;
}

.notification.error .icon{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAP1BMVEX///////////////////////////////////////////////////////////////////////////////////81m6ZbAAAAFHRSTlMAARMUFRZCRUjHyMrLzNDR0tPU1a674P0AAABpSURBVHjaldBRDsAQEARQalVptaj7n7XCiGzqx3xtHrEZYi1yMh4n9VF7g8MrR4K92eIuxaKwexMIpZyo2gPrqmEjumgxNQTP5QDjSD8LgWnbq4irbjugzJhKX3tAHWoaO7q5ffp1S/kAqTkFoLZRo+IAAAAASUVORK5CYII=);

}

.notification.warning{
  background: #FFC107;
}

.notification.warning .icon{
  	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAbFBMVEX///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////82G0A9AAAAI3RSTlMAAwgJChYYHDM5Pj9UVl5gand/hoqMo6ixzNLW1/Dy9fj5/d1ifTIAAABpSURBVHgBfcvXDsIwDEZh9t4DwgiBnPd/R6TWbqPW8n919Fke+IOuzK9veJ5npe0T1T7b1nZwX47Gq0DeNL+JQ11H4lTwwk3vgZPUi4XimofULw8VJ0QpvmpFQ4E4aLzbSG82+gOw0dsfxfMOG7rxV1MAAAAASUVORK5CYII=);

}

.notification.information{
  background: #0288D1;
}

.notification.information .icon{
  	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAElBMVEX///////////////////////+65XQCAAAABXRSTlMAWVqA/JrNy4MAAAAzSURBVHgBY8AOWDEAbkFUnUNKEOYNJhZMbzLCxVgRelhYmTGDClOMAZsYAzYxBqAYIQAAOhcCT05GiOkAAAAASUVORK5CYII=);

}

.notification.success{
  background: #4CAF50;
}

.notification.success .icon{
  	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAANlBMVEX///////////////////////////////////////////////////////////////////////8BOg0gAAAAEXRSTlMADBUWISIvN0VHw8TS1eHx+lKCPYwAAABASURBVHgBY6ADYGTDIsbFz44pJsjHikeMgwlTjFOAhwlDLzOvIEgUIYYQhYqhinIjxBCiYDF0UZAYhigLjcMPABCQAp33JzUTAAAAAElFTkSuQmCC);

}

.notification .progress{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: .2;
  width: 0%;
}

.notification .message{
  display: inline-block;
  color: #fff;
  position: relative;
  z-index: 5;
      display: inline-block;
    line-height: 40px;
    height: 100%;
    vertical-align: middle;
	font-size: 1.2rem;
  padding-left: 30px;
}

.notification .dismiss,.notification .icon{
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
	filter: brightness(100%);
  -webkit-filter: brightness(100%);

	cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAACBJREFUeAFjwAsYgYCQICMawCqI1w5k9jAWRAC8gpgAAFq6AHEXHe01AAAAAElFTkSuQmCC);
}

.notification .icon{
	right: auto;
	left: 10px;
}

.notification.counting .progress{
  width: 100%;
  transition: width linear 5s;
}

.notification:hover .progress{
  width: 0%;
  transition: none!important;
}