.notifications{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.notification{
	padding: 0 10px;
	height: 0;
	position: relative;
	transition: height ease .2s;
	overflow: hidden;
}

.notification.show{
	height: 40px;
}

.notification .progress{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #fff;
	opacity: .2;
	width: 0;
}

.notification .message{
	display: inline-block;
	color: #fff;
	position: relative;
	z-index: 5;
	display: inline-block;
	line-height: 40px;
	height: 100%;
	vertical-align: middle;
	font-size: 1.2rem;
	padding-left: 30px;
}

.notification .dismiss,.notification .icon{
	position: absolute;
	right: 10px;
	top: 10px;
	height: 20px;
	width: 20px;
	filter: brightness(100%);
	-webkit-filter: brightness(100%);
	cursor: pointer;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48c3R5bGU+LnMwe2ZpbGw6I2ZmZjt9PC9zdHlsZT48cGF0aCBkPSJtMiAzIDYgMCAwLTIgNCAwIDAgMiA2IDAgMCAyLTE2IDB6TTMgNmwyIDAgMCAxMSAxMCAwIDAtMTEgMiAwIDAgMTMtMTQgMHoiIGZpbGw9IiNmZmYiLz48L3N2Zz4=');
}

.notification .icon{
	right: auto;
	left: 10px;
}

.notification.counting .progress{
	width: 100%;
	transition: width linear 5s;
}

.notification:hover .progress{
	width: 0;
	transition: none!important;
}

.notification.error{
	background: #D32F2F;
}

.notification.error .icon{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48c3R5bGU+LnMwe2ZpbGw6bm9uZTtzdHJva2Utd2lkdGg6MjtzdHJva2U6I2ZmZjt9PC9zdHlsZT48ZyB0cmFuc2Zvcm09Im1hdHJpeCgxLjA3MjUzMDgsMCwwLDEuMDcwOTg3NiwtMC43MTYwNDkzOCwtMC43MDk4NzY1NSkiIHN0eWxlPSJzdHJva2Utd2lkdGg6MjtzdHJva2U6I2ZmZiI+PHBhdGggZD0iTTQgNCAxNiAxNnpNNCAxNiAxNiA0eiIgY2xhc3M9InMwIi8+PC9nPjwvc3ZnPg==');
}

.notification.warning{
	background: #FFC107;
}

.notification.warning .icon{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48c3R5bGU+LnMwe2ZpbGw6bm9uZTtzdHJva2Utd2lkdGg6MjtzdHJva2U6I2ZmZjt9PC9zdHlsZT48cGF0aCBkPSJtMSAxNSAxOCAwLTMgMGMwIDAgMC01IDAtNyAwLTMtNC01LTYtNWwwLTIgMCAyQzggMyA0IDUgNCA4YzAgMiAwIDcgMCA3ek04IDE4bDQgMHoiIGNsYXNzPSJzMCIvPjwvc3ZnPg==');
}

.notification.information{
	background: #0288D1;
}

.notification.information .icon{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtMiAyIDE2IDAgMCAxMS03IDAtNCA0IDAtNC01IDB6IiBzdHlsZT0iZmlsbDpub25lO3N0cm9rZS13aWR0aDoyO3N0cm9rZTojZmZmIi8+PC9zdmc+');
}

.notification.success{
	background: #4CAF50;
}

.notification.success .icon{
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtMyA5IDUgNSA5LTktOSA5eiIgc3R5bGU9ImZpbGw6bm9uZTtzdHJva2Utd2lkdGg6MjtzdHJva2U6I2ZmZiIvPjwvc3ZnPg==');
}